extends ../../templates/main

block content
    script(src='/javascripts/app-add/registration.js')
    .app-add
        .app-add__registration
            form#registration
                div Hashtag store
                input(type="text" name="hashTag" value=hashTag readonly)
                br
                br
                div Hash
                input(type="text" name="hash" value=hash readonly)
                br
                br
                div Publish
                input(type="text" name="publish" value=publish readonly)
                br
                br
                div Keystore
                input#keystore(type="file" name="keystore")
                br
                br
                div Keystore password
                input#password(type="password" name="password")
                br
                br
                button.button.button-ellipse Send transaction