doctype html
html(lang=language)
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16")

        if (title)
            title #{title} - PlayMarket 2.0 Developer Module
        else
            title PlayMarket 2.0 Developer Module

        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/vendors.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        script(src='/javascripts/vendors.js')
        script(src='/javascripts/main.js')
    body
        #spinner

        //CONTROL PANEL
        include ../components/control-panel

        div(id="wrapper")
            // SIDEBAR
            include ../components/sidebar

            //CONTENT
            div(id="content")
                block content

            // FOOTER
            //include ./components/footer


