.control-panel
    .control-panel__content
        .control-panel__content--left
            .control-panel__content__address#control-panel__address= address
            .control-panel__content__address--copy.copy-btn.clipboard-btn(data-clipboard-target="#control-panel__address" data-notifiсation="Address copied to clipboard")
        .control-panel__content--right
            .control-panel__content__name(title='Developer name')= name
            .control-panel__content__logout Logout
