.control-panel
    .control-panel__content
        .control-panel__content--left
            .control-panel__content__address#control-panel__address(title='Файл: ' + filenameKeystore)= address
            .control-panel__content__address--copy.copy-btn.clipboard-btn(data-clipboard-target="#control-panel__address" data-notifiсation="Адрес скопирован в буфер обмена")
        .control-panel__content--right
            .control-panel__content__name(title='Имя разработчика')= name
            .control-panel__content__logout Выйти
