mixin data(path, images)
    .gallery-slider.owl-carousel
        each image in images
            .gallery-slider__item
                a.image-popup(href=path + image)
                    img(src=path + image)