aside(id="sidebar")
    a(href="/")
        div(class="sidebar__header")
            div(class="sidebar__header--logo")
            div(class="sidebar__header--text") playmarket
                span Dev module
    ul(class="sidebar__menu")
        li(class="sidebar__menu--item")
            span.sidebar__menu--item__icon(data-icon='apps')
            a.sidebar__menu--item__link(href="/apps") My apps
        //li(class="sidebar__menu--item")
        //    span.sidebar__menu--item__icon(data-icon='ico')
        //    a.sidebar__menu--item__link(href="/") Мои ICO