aside(id="sidebar")
    a(href="/")
        div(class="sidebar__header")
            div(class="sidebar__header--logo")
            div(class="sidebar__header--text") playmarket
                span Dev module
    ul(class="sidebar__menu")
        li(class="sidebar__menu--item")
            a(href="/apps") Приложения