extends ../layout

block template

    //CONTROL PANEL
    include ../components/control-panel

    #wrapper

        // SIDEBAR
        include ../components/sidebar

        //CONTENT
        #content
           block content