.control
  position: fixed
  z-index: 1000
  bottom: 0
  left: 0
  width: 250px
  background-color: #333
  padding: 20px
  color: #fff
  box-sizing: border-box
  border-radius: 0 22px 0 0
  &__network, &__provider, &__version
    font-family: $FiraSans
    font-weight: 400
    font-size: 14px
    margin-bottom: 5px
    span
      font-family: $FiraSansSemiBold
      font-weight: 500
      color: #00e7d5
  &__price
    padding-top: 5px
    font-family: $FiraSansSemiBold
    font-weight: 500
    font-size: 14px
    margin-bottom: 5px
    span
      color: #00e7d5
      width: 18px
      display: inline-block
      text-align: right
  &__input
    font-size: 0
    margin-bottom: 10px
    input
      margin: 0
      padding: 0
      width: 100%
  &__text
    font-family: $FiraSansThin
    font-weight: 200
    font-size: 12px
    line-height: 14px
    margin-bottom: 10px
  &__warning
    font-family: $FiraSans
    font-weight: 400
    font-size: 12px