.header
  //box-shadow: 0 2px 5px 0 #e6e6e6
  //background-color: #f1eeee
  display: block
  position: fixed
  top: 0
  left: 0
  right: 0
  background: #131C2B
  z-index: 15
  &__container
    width: 984px
    margin: 0 auto
    padding: 0 20px
    box-sizing: content-box
    display: flex
    height: 30px
    align-items: center
    justify-content: space-between
    &--left
      display: flex
      align-items: center
    &--right
      display: flex
      align-items: center
  &__address
    margin-right: 15px
    font-family: $FiraSans
    font-weight: 400
    font-size: 12px
    color: #fff
  &__name
    display: flex
    align-items: center
    margin-right: 40px
    &__text
      font-family: $FiraSans
      font-weight: 400
      font-size: 12px
      color: #fff
    &__edit
      cursor: pointer
      margin-left: 10px
      width: 16px
      height: 16px
      background-image: url("../images/icons/edit.svg")
      background-repeat: no-repeat
      background-size: 80%
      background-position: center
      transition: .2s opacity ease-in-out
      &:hover
        opacity: .5
  &__logout
    cursor: pointer
    font-family: $FiraSansSemiBold
    font-weight: 600
    font-size: 12px
    color: #fff
    padding: 0 20px 0 0
    border: 0
    outline: none
    background-color: transparent
    height: 12px
    background-image: url("../images/icons/logout.svg")
    background-position: 100% 50%
    background-repeat: no-repeat
    background-size: contain
    display: flex
    align-items: center
  &-popup
    width: 490px !important
    padding: 60px 50px 50px !important
    box-sizing: border-box !important
    border: 0 !important
    background-color: #ffffff !important
    box-shadow: 0 2px 5px 0 #e6e6e6 !important
    &__main
      margin-bottom: 30px
      &__title
        font-family: $Archive
        font-size: 28px
        text-align: center
        color: #67777b
      &__list
        margin-top: 15px
        &-item
          margin-bottom: 15px
          &:last-child
            margin-bottom: 0
          &__title
            font-family: $FiraSansSemiBold
            font-weight: 500
            font-size: 14px
            padding-bottom: 5px
          &__value
            font-family: $FiraSans
            font-weight: 400
            font-size: 16px
            span
              color: #00e7d5
    &__btn-block
      display: flex
      justify-content: flex-start
      align-items: center
      margin-top: 20px
      &--center
        justify-content: center
      &__btn
        cursor: pointer
        border: 0
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        padding: 0 20px
        height: 44px
        font-family: $Archive
        font-weight: 400
        font-size: 16px
        color: #fff
        border-radius: 22px
        background-color: #00e7d5
        box-shadow: 0 4px 5px 0 rgba(0, 231, 213, 0.6)
        &--cancel
          cursor: pointer
          margin-left: 40px
          font-family: $FiraSans
          font-weight: 400
          font-size: 16px
          color: #006f9e
          border-bottom: 1px solid #006f9e
    &__action
      &__title
        font-family: $Archive
        font-size: 28px
        text-align: center
        color: #67777b
        margin-bottom: 10px
    &__changeInfo
      &__title
        font-family: $Archive
        font-size: 14px
        text-align: center
        color: #67777b
        margin-bottom: 15px
      &__preview-list
        margin-bottom: 15px
        padding: 10px
        box-shadow: 0 2px 5px 0 #e6e6e6
        &__item
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
          &--title
            font-family: $FiraSansSemiBold
            font-weight: 500
            font-size: 12px
            padding-bottom: 5px
          &--value
            font-family: $FiraSans
            font-weight: 400
            font-size: 14px
            &__placeholder
              color: #d3d3d3
      &__fee-list
        margin: 15px 0
        &__item
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
          &--title
            font-family: $FiraSansSemiBold
            font-weight: 500
            font-size: 14px
            padding-bottom: 5px
          &--value
            font-family: $FiraSans
            font-weight: 400
            font-size: 16px
      &__list
        &-item
          margin-bottom: 15px
          &:last-child
            margin-bottom: 0
          &__title
            font-family: $FiraSansSemiBold
            font-weight: 500
            font-size: 14px
            padding-bottom: 5px
          &__input
            font-family: $FiraSans
            font-weight: 400
            font-size: 16px
            height: 35px
            border-radius: 2px
            background-color: #e8e8e8
            width: 100%
            border: 0
            padding: 0 10px
            box-sizing: border-box
            &::placeholder
              color: #f7f7f7