extends ../templates/main

block content
    .apps
        .apps-top
            .title(style="color: #06d6a0") Ваши приложения
            a.apps-top__add(href="/app-add/build" title="Добавить приложение")
        .apps-table
            if (apps.length !== 0)
                ul.apps-table__header
                    li.apps-table__header-col(data-col="1") название
                    li.apps-table__header-col(data-col="2") статус
                    li.apps-table__header-col(data-col="3") стоимость
                    li.apps-table__header-col(data-col="4") ico
                .apps-table__content
                    ul.apps-table__list
                        each app in apps
                            li.apps-table__item
                                a.apps-table__item-link(href='/app' + '/' + app.idApp)
                                    .apps-table__item-col(data-col="1")
                                        .apps-table__item-col__img(style='background-image: url(' + server + '/data/' + app.hashTag + '/' + app.hash + '/' + app.files.images.logo)
                                        .apps-table__item-col__name= app.nameApp
                                    .apps-table__item-col(data-col="2")
                                        .apps-table__item-col__status
                                            if (app.publish)
                                                span опубликовано
                                            else
                                                span не опубликовано
                                    .apps-table__item-col(data-col="3")
                                        .apps-table__item-col__price= app.price / 1000000000000000000
                                            | &nbsp;ETH
                                    .apps-table__item-col(data-col="4")
                                        .apps-table__item-col__ico
                                            if (app.icoRelease)
                                                span да
                                            else
                                                span нет
            else
                .apps-table__placeholder У вас нет загруженных приложений

