extends ../layout

block template
    script(src='/javascripts/auth.js')
    .auth
       .auth-banner
            .auth-banner__container
                .auth-banner__title Login to your decentralized developer account
                .auth-banner__text-1 Do you want to croudfund your app via build-in ICO platform? Or sell your app for cryptocurrency? Want to see through transparent payment transactions via blockchain?
                .auth-banner__text-2 Distribute your apps on Play Market 2.0 store and increase your downloads and monetisation.
                .auth-banner__btn-block
                    .auth-banner__btn-block__btn Distribute your apps on Playmarket 2.0
                .auth-banner__text-3 Its free!
       .auth-entry
            .auth-entry__keystore-box
                div
                    .auth-entry__keystore-box__title Select or drag and drop your keystore file
                    .auth-entry__keystore-box__btn
                        input.auth-entry__keystore-box__btn-input#input__authKeystore(type='file')
                        .auth-entry__keystore-box__btn-text select wallet file
            .auth-entry__main-box
               .auth-entry__main-box__info
                   .auth-entry__main-box__info__box
                       .auth-entry__main-box__info__box-title Address
                       .auth-entry__main-box__info__box-value#value__authAddress
                   .auth-entry__main-box__info__box
                       .auth-entry__main-box__info__box-title Registered
                       .auth-entry__main-box__info__box-value#value__authRegistered(data-lang-false='NO' data-lang-true='YES')
               .auth-entry__main-box__login
                   .auth-entry__main-box__title You are registered as a developer, you can log in to your account
                   .auth-entry__main-box__login__btn
                        button#button__login Log In
               .auth-entry__main-box__registration
                   .auth-entry__main-box__title Registration developer
                   .auth-entry__main-box__registration__block
                        .auth-entry__main-box__registration__box
                            .auth-entry__main-box__registration__title Name
                            .auth-entry__main-box__registration__value
                                input#input__registrationName(type="text" placeholder="Your or company name")
                        .auth-entry__main-box__registration__box
                            .auth-entry__main-box__registration__title Keystore password
                            .auth-entry__main-box__registration__value
                                input#input__registrationPassword(type="password" placeholder="Keystore password")
                   .auth-entry__main-box__registration__btn
                        button#button__registration Send transaction
               .auth-entry__main-box__spinner

    //#auth-window
    //    .auth
    //        .auth-keystore
    //            .auth-keystore__text select wallet file
    //            input#auth__keystore(type='file' name='keystore')
    //        .auth-main
    //            .auth-main__info
    //                .auth-main__info__content
    //                    .auth-main__info__box
    //                        .auth-main__info__box-title Address
    //                        .auth-main__info__box-value#auth__address
    //                    .auth-main__info__box
    //                        .auth-main__info__box-title Registered
    //                        .auth-main__info__box-value#auth__registered(data-lang-0='NO' data-lang-1='YES')
    //
    //            .auth-main__action
    //                .auth-main__action--login
    //                    .auth-main__action__title You are registered as a developer, you can log in to your account
    //                    .auth-main__action__content
    //                        .auth-main__action__content__box
    //                            .auth-main__action__content__box-title Name
    //                            .auth-main__action__content__box-value#login__name
    //                        //.auth-main__action__content__box
    //                        //    .auth-main__action__content__box-title Info
    //                        //    .auth-main__action__content__box-value#login__info
    //                    .auth-main__action__button
    //                        button#login__btn Log In
    //                .auth-main__action--registration
    //                    .auth-main__action__title Registration developer
    //                    .auth-main__action__content
    //                        .auth-main__action__content__box
    //                            .auth-main__action__content__box-title Name
    //                            input#registration__name(type='text')
    //                        //.auth-main__action__content__box
    //                        //    .auth-main__action__content__box-title Info
    //                        //    input#registration__info(type='text')
    //                        .auth-main__action__content__box
    //                            .auth-main__action__content__box-title Keystore password
    //                            input#registration__password(type='password')
    //                    .auth-main__action__button
    //                        button#registration__btn Send transaction
    //        .auth-verification
    //            .auth-verification__text Please, wait. There is a verification. Do not reload this page.
    //            .auth-verification__preloader
