extends ../layouts/main

block content
    div(class="hello-text") Это локальный модуль, который используется для взаимодействия разработчика с приложениями на платформе PlayMarket 2.0. Этот модуль будет постоянно совершенствоваться и дополняться, следите за новостями и спасибо за участие в проекте!
    script(type="text/template" id="qq-template-gallery")
        .qq-uploader-selector.qq-uploader.qq-gallery(qq-drop-area-text='Drop files here')
            .qq-total-progress-bar-container-selector.qq-total-progress-bar-container
                .qq-total-progress-bar-selector.qq-progress-bar.qq-total-progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
            .qq-upload-drop-area-selector.qq-upload-drop-area(qq-hide-dropzone='')
                span.qq-upload-drop-area-text-selector
            .qq-upload-button-selector.qq-upload-button
                div Upload a file
            span.qq-drop-processing-selector.qq-drop-processing
                span Processing dropped files...
                span.qq-drop-processing-spinner-selector.qq-drop-processing-spinner
            ul.qq-upload-list-selector.qq-upload-list(role='region', aria-live='polite', aria-relevant='additions removals')
                li
                    span.qq-upload-status-text-selector.qq-upload-status-text(role='status')
                    .qq-progress-bar-container-selector.qq-progress-bar-container
                        .qq-progress-bar-selector.qq-progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
                    span.qq-upload-spinner-selector.qq-upload-spinner
                    .qq-thumbnail-wrapper
                        img.qq-thumbnail-selector(qq-max-size='120', qq-server-scale='')
                    button.qq-upload-cancel-selector.qq-upload-cancel(type='button') X
                    button.qq-upload-retry-selector.qq-upload-retry(type='button')
                        span.qq-btn.qq-retry-icon(aria-label='Retry')
                        |                         Retry
                    .qq-file-info
                        .qq-file-name
                            span.qq-upload-file-selector.qq-upload-file
                            span.qq-edit-filename-icon-selector.qq-edit-filename-icon(aria-label='Edit filename')
                        input.qq-edit-filename-selector.qq-edit-filename(tabindex='0', type='text')
                        span.qq-upload-size-selector.qq-upload-size
                        button.qq-btn.qq-upload-delete-selector.qq-upload-delete(type='button')
                            span.qq-btn.qq-delete-icon(aria-label='Delete')
                        button.qq-btn.qq-upload-pause-selector.qq-upload-pause(type='button')
                            span.qq-btn.qq-pause-icon(aria-label='Pause')
                        button.qq-btn.qq-upload-continue-selector.qq-upload-continue(type='button')
                            span.qq-btn.qq-continue-icon(aria-label='Continue')
            dialog.qq-alert-dialog-selector
                .qq-dialog-message-selector
                .qq-dialog-buttons
                    button.qq-cancel-button-selector(type='button') Close
            dialog.qq-confirm-dialog-selector
                .qq-dialog-message-selector
                .qq-dialog-buttons
                    button.qq-cancel-button-selector(type='button') No
                    button.qq-ok-button-selector(type='button') Yes
            dialog.qq-prompt-dialog-selector
                .qq-dialog-message-selector
                input(type='text')
                .qq-dialog-buttons
                    button.qq-cancel-button-selector(type='button') Cancel
                    button.qq-ok-button-selector(type='button') Ok
    div(id="fine-uploader-gallery")








