html, body
  min-height: 100%

body
  font-family: $FiraSans
  font-weight: 400
  font-size: 14px
  font-style: normal
  font-stretch: normal
  //background-color: #f1eeee
  background-image: url("../images/layout.svg"), linear-gradient(145.48deg, #131C2B 28.1%, #095474 152.56%)
  background-repeat: no-repeat
  background-position: 240px 0
  color: #0f1914
  position: relative

#wrapper
  width: 984px
  margin: 15px auto 0
  padding: 0 20px
  box-sizing: content-box
  display: flex

#content
  width: 794px
  flex-shrink: 0
  margin-bottom: 30px

.popup-overlay
  overflow: auto
  padding: 20px
